* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --cor-primaria:#ffffff;
    --cor-secundaria:#6e07f3;
    --cor-terciaria:#dddddd;
    --cor-fundos:#7c6ae0b4;
    --transparent:#6d07f3d2;
    --text-cor-primaria:#ffffff;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
    background-color: #6e07f3;
    margin-top: 120px;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: var(--cor-secundaria);
    color: var(--text-cor-primaria);

    nav {
        display: flex;
        margin: 16px;
        justify-content: space-around;
        gap: 20px;

        a, span{
            color: var(--text-cor-primaria);
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
        }

        i{
            font-size: 20px;
            color: var(--cor-primaria);
        }
    }
}

section.me .container {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: var(--cor-secundaria);
    
    
    .text__me{
        color: var(--text-cor-primaria);
        text-align: justify;
        text-align: center;
    }


    img {
        width: 150px;
        border-radius: 80px;
        margin-bottom: 20px;
    }



    nav {
        display: flex;
        margin-top: 20px;
        gap: 30px;
        color: var(--text-cor-primaria);

        a{
            text-decoration: none;
            color: var(--text-cor-primaria);
            cursor: pointer;

            &:hover{
                transform: scale(1.1, 1.1);
            }
        }

        .fa-arrow-right{
            margin-left: -26px;
            transform: rotate(-45deg);
            color: rgb(206, 206, 206);
        }
    }

}

section#about__me{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 100px 60px;
    background-color: var(--cor-terciaria);

    h2 {
        margin-bottom: 30px;
        text-align: center;
    }

    p {
        margin-bottom: 26px;
        text-align: justify;
    }
}

section#skills{
    padding: 100px 0;

    h2{
        margin-bottom: 30px;
        color: var(--text-cor-primaria);
        text-align: center;
    }

    .cube__skills {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: var(--text-cor-primaria);
        
        .cube__skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            width: 150px;
            height: 150px;
            transition: .5s;
            cursor: pointer;

            p{
                font-size: 22px;
            }
            
            i {
                font-size: 60px;
                margin-bottom: 10px;
            }

            img {
                width: 75px;
            }
    
            &:hover{
                transform: scale(1.25,1.25);
            }
        }
    }

}

section#hobbies{
    padding: 100px 0;

    h2{
        margin-bottom: 30px;
        color: var(--text-cor-primaria);
        text-align: center;
    }

    .cube__hobbies{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .cube__hobbie {
        color: var(--text-cor-primaria);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 150px;
        height: 150px;
        transition: .5s;
        cursor: pointer;
        text-decoration: none;

        p {
            font-size: 22px;
        }
        
        i {
            font-size: 60px;
            margin-bottom: 10px;
        }

        &:hover{
            transform: scale(1.25,1.25);
        }
    }
}

section#certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 60px;
    background-color: var(--cor-terciaria);

    h2{
        text-align: center;
        padding: 50px 0;
    }

    .formation{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 150px;
        text-align: justify;

        .rivers:hover{
            transform: scale(1.10,1.10);
        }

        .rivers img{
            width: 100%;
        }

        .faculdade:hover{
            transform: scale(1.10,1.10);
        }

        .faculdade img{
            width: 350px;
        }
    }
}

section#professional__experience{
    background-color: var(--cor-terciaria);

    h2{
        text-align: center;
        padding: 60px 0;
        margin-top: -2px;
    }

    .projects{
        width: 100%;

        h2{
            text-align: start;
            padding: 0px 0;
        }

        .project{
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px 40px;
            gap: 50px;

            img{
                width: 100%;
                max-width: 600px;
                min-width: 300px;
            }

            &:nth-child(2){
                flex-direction: row-reverse;
                justify-content: end;
            }

            .btns{
                display: flex;
                gap: 15px;
                padding: 20px 0;
                width: 300px;
                
                a, .demo{
                    background-color: var(--cor-secundaria);
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    width: 100%;
                    height: 50px;
                    cursor: pointer;
                    border: 0;
                    border-radius: 16px;
                }

                .repositories:hover{
                    background-color: var(--cor-fundos);
                }

                a, .repositories{
                    background-color: var(--cor-secundaria);
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    width: 100%;
                    height: 50px;
                    cursor: pointer;
                    border: 0;
                    border-radius: 16px;
                }

                .demo:hover{
                    background-color: var(--cor-fundos);
                }
            }
        }
    }
}

section#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    width: 100%;
    padding: 40px;

    .text__contact{
        color: var(--text-cor-primaria);
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 100px;
        margin-top: 20px;
        background-color: #8A3DE3;
        border-radius: 30px;
        box-shadow: 0 15px 35px rgba(04, 03, 05, .25);
        max-width: 800px;
        width: 100%;

        .float__label{
            position: relative;

            input, textarea{
                padding: 8px 10px;
                border: none;
                outline: none;
                background: var(--cor-fundos);
                color: var(--text-cor-primaria);
                font-weight: 500;
                width: 100%;
                margin-bottom: 30px;
                border-radius: 10px;
            }

            textarea:valid ~ span,
            textarea:focus ~ span,
            input:valid ~ span,
            input:focus ~ span {
                font-size: .85rem;
                transform: translateY(-26px);
            }

            span{
                position: absolute;
                left: 0;
                padding: 8px 10px;
                font-size: 1rem;
                transition: .3s;
                pointer-events: none;
                color: var(--text-cor-primaria);
            }
        }

        button{
            background-color: var(--cor-fundos);
            text-transform: uppercase;
            color: white;
            font-size: 12px;
            width: 100%;
            height: 50px;
            cursor: pointer;
            border: 0;
            border-radius: 16px;
        }

        button:hover{
            background-color: var(--cor-secundaria);
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 20px;
}

@media screen and (max-width:1030px) {
    .project{
        flex-direction: column;

        &:nth-child(2){
            flex-direction: column !important;
        }
    }
}    

@media screen and (max-width: 940px) {
    header {
        display: none;
    }

    section.me{
        margin: 0;
        margin-bottom: 50px;

        img{
            min-width: 150px;
        }
    }

    section#about__me {
        p{
            padding: 20px;
        }
    }

    section#skills {
        .cube__skills{
            flex-wrap: wrap;
            padding: 50px 16px;
            justify-content: center;
        }
    }

    section#hobbies{
        .cube__hobbies{
            flex-wrap: wrap;
            padding: 50px 16px;
            justify-content: center;
        }
    }

    section#certificate .formation{
        width: 100%;
        padding: 50px;

        .faculdade img{
            width: 100%;
            max-width: 350px;
        }
    }

    section#contact form{
        padding: 40px 10px;
    }
}